body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.product-container {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
}

img {
  width: 200px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.shipping {
  color: green;
}

.more-info {
  color: blue;
  text-decoration: none;
}

.add-to-cart {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
